@charset "utf-8";
@media screen and (min-width:961px) {
#head {
    width: 18em;
    height: 98%;
    position: fixed;
    background: url("/static/images/bamboo01.png") bottom right no-repeat,
                url("/static/images/bamboo02.png") top left no-repeat;
}
#logo {
    margin: 1em;
}
#logo .blogname {
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 8em;
    padding: 2em 0;
}
#logo .blogdesc {
    text-align: center;
    border-bottom: 1px dotted #d8d8d8;
}
#nav {
    margin-top: 3em;
}
#nav li {
    font-size: 1.2em;
    list-style: none;
    margin: 0.5em 1.5em;
}
#main {
    border-left: 1px solid #d8d8d8;
    margin-left: 18em;
}
#begin {
    font-size: 1.2em;
    font-style: italic;
}
.post {
    margin: 2em 2em 0 1em;
    padding: 0 1em 2em 1em;
}
.post-title {
    font-size: 1.5em;
    background: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 2em;
    margin: 0 -0.6em;
    padding: 0.5em 0 0.5em 1em;
}
}

@media screen and (max-width:960px) {
#head {
    border-bottom: 2px dashed #d8d8d8;
}
#logo {
    border-bottom: 1px dotted #d8d8d8;
}
#logo .blogname {
}
#logo .blogdesc {
    margin: 0.5em 0 0.5em 2em;
}
#nav ul {
    text-align: right;
    padding: 0;
}
#nav li {
    font-size: 1em;
    display: inline;
    margin-right: 0.5em;
    padding: 0.2em;
    border-top: 3px solid #d8d8d8;
    border-left: 3px solid #d8d8d8;
    border-radius: 1em;
}
#begin {
    font-size: 0.8em;
    font-style: normal;
    color: gray;
}
.post {
    margin: 1em 0.5em;
    padding: 0 1em 1em 1em;
}
.post-title {
    font-size: 1.2em;
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px solid #d8d8d8;
}
}

@media screen and (max-width:320px) {
#logo .blogdesc {
    margin: 0.5em 0 0.5em 1em;
}
#nav li {
    font-size: 1em;
    margin-right: 0;
    border: none;
    border-top: 3px solid #d8d8d8;
    border-radius: 0;
}
}

/* default.html */
#logo a {
    color: #555;
    text-decoration: none;
}
#logo a:hover {
    color: #888;
}
#logo .blogname {
    font-family: "FangSong", sans-serif;
    font-size: 3em;
    text-shadow: -2px 3px 4px #a0a0a0;
}
#logo .blogdesc {
    color: #5d5d5d;
    font-family: "KaiTi", sans-serif;
}
#logo .rss {
    height: 1em;
    width: 1em;
    border: none;
}
#nav li {
    font-family: "YouYuan", sans-serif;
}
#nav a {
    color: #a8a8a8;
    text-decoration: none;
}
#nav a:hover {
    color: #555;
    text-shadow: -2px 3px 4px #a0a0a0;
}
#begin {
    font-family: "FangSong", "KaiTi", serif;
    text-indent: 2em;
    text-shadow: -2px 3px 4px #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    padding: 0.5em 0 0.5em 0.5em;
}
#foot {
    color: #333;
    font-family: "Ubuntu", "Candara", sans-serif;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
}
#foot p {
    margin: 0;
}
#foot a {
    color: #5d5d5d;
    text-decoration: none;
}

/* post.html */
.post {
    color: #333;
    font-family: "Lucida Sans Unicode", "Arial", sans-serif;
    border: 1px solid #d8d8d8;
    border-radius: 2em;
    box-shadow: -3px 3px 20px #d8d8d8;
}
.post a {
    color: #5d5d5d;
    text-decoration: none;
}
.post a:hover {
    color: gray;
}
.post-title a {
    text-decoration: none;
}
.post-title a:hover {
    border-bottom: 1px dotted #5d5d5d;
}
.post-time {
    color: #5d5d5d;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    margin-top: 1em;
}
.post-link {
    height: 1em;
    border-top: 1px dotted #d8d8d8;
    margin: 2em 0;
    padding: 0.5em;
}
.post-link a {
    border-bottom: 1px dashed #666;
}
.post-link .prev {
    float: left;
}
.post-link .next {
    float: right;
}
.post-comment {
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 0.5em;
    padding: 0.2em;
}

/* index.html */
.pagination {
    margin: 2em 0 0 2em;
}
.pagination li {
    display: inline;
}
.pagination li a {
    color: #5d5d5d;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}

/* tags.html */
.tag-name {
    margin: 1em 0.5em;
}
.tag-name ul {
    padding: 0;
}
.tag-name li {
	float: left;
    display: inline;
    background: #e8e8e8;
    border-radius: 1em;
    margin-right: 0.5em;
    padding: 0.5em;
}
.tag-list {
	clear: left;
}
.tag-list li {
    list-style: square;
}

/* archives.html */
.archive li {
    list-style: circle;
}

/* toTop.js */
#toTop {
    position: fixed;
    cursor: pointer;
    color: #5d5d5d;
    font-size: 3em;
    text-decoration: overline;
    right: 30px;
    bottom: 30px;
}

/* post content style */
.post-content h1, h2, h3 {
    font-weight: normal;
}
.post-content p {
    text-indent: 2em;
}
.post-content blockquote {
    background: #f8f8f8;
    border: 1px dashed #d8d8d8;
    border-radius: 0.5em;
    margin: 1em 1em 1em 2em;
    padding: 0.5em 1em;
}
.post-content blockquote p {
    text-indent: 0;
}
.post-content pre {
    font-size: 1em;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 0.5em;
    margin: 1em 1em 1em 2em;
    padding: 0.5em 1em;
}
.post-content code {
    font-family: "Monaco", "Lucida Console", "Consolas", "Droid Sans Mono", monospace;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 3px 3px;
    box-shadow: 1px 1px 0 #999;
    margin: 0 3px;
    padding: 0.2em;
}
.post-content pre code {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.post-content table {
    border-collapse: collapse;
    border-spacing: 0;
}
.post-content table th, .post table td {
    border: 1px solid #ddd;
    padding: 5px 10px;
}
.post-content table th {
    background: #f8f8f8;
}
