---
layout: default
---

        <div class="post">
            <div class="post-title">{{ page.title }}</div>
            <div class="post-time">{{ page.date | date: "%m/%d/%Y" }} | 分类：<a href="/tags.html#{{ page.tags }}">{{ page.tags }}</a></div>
            <div class="post-content">
{{ content }}
            </div>
            <div class="post-link">
{% if page.previous %}
                <a class="prev" href="{{ page.previous.url }}">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
{% endif %}
{% if page.next %}
                <a class="next" href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
{% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
