---
layout: default
---

        <div class="post">
            <div class="post-title">{{ page.title }}</div>
            <div class="post-time">{{ page.date | date_to_string }} | 分类：<a href="/tags.html#{{ page.tags }}">{{ page.tags }}</a></div>
            <div class="post-content">
{{ content }}
            </div>
            <div class="post-link">
{% if page.previous %}
                <a class="prev" href="{{ page.previous.url }}">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
{% endif %}
{% if page.next %}
                <a class="next" href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
{% endif %}
                <div class="clearfix"></div>
            </div>

            <!-- duoshuo comment start -->
            <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
            <!-- duoshuo comment end -->
            <!-- duoshuo common js start -->
            <script type="text/javascript">
                var duoshuoQuery = { short_name:"{{ site.comments.duoshuo.short_name }}" };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript'; ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
            </script>
            <!-- duoshuo common js end -->

        </div>